.title, .timer > div, .form {
    background: #76c045; /* Old browsers */
    background: -moz-linear-gradient(left, #76c045 0%, #599c33 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #76c045 0%,#599c33 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #76c045 0%,#599c33 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76c045', endColorstr='#599c33',GradientType=1 ); /* IE6-9 */
}

.prices ul li {
    background: #76c045; /* Old browsers */
    background: -moz-linear-gradient(left, #76c045 0%, #599c33 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #76c045 0%,#599c33 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #76c045 0%,#599c33 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76c045', endColorstr='#599c33',GradientType=1 ); /* IE6-9 */
}